body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.container {
    background: url("img/cozy\ winter.webp");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.glassmorph{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}
.visible{
    visibility: visible;
}
.glass {
    margin: 25px;
    width: 13%;
    height: 25%;
    /* From https://css.glass */
    background: rgba(255, 191, 70, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 1px solid rgba(255, 191, 70, 0.5);
}
span{
    font-size: 5rem;
    color: #724100;
}
button{
    background-color: #724100;
    font-size: 1.5rem;
    color: #fff;
    width: 7.5rem;
    padding: 17px;
    border-radius: 15px;
    outline: none;
    animation: glow 3s linear infinite;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 30px #ffd59f;
        box-shadow: 0 0 35px #ffd59f;
        box-shadow: 0 0 40px #ffd59f;
    }
    10% {
        box-shadow: 0 0 30px #ffdcae;
    }
    50% {
        box-shadow: 0 0 30px #ffe4c1;
        box-shadow: 0 0 35px #ffe4c1;
        box-shadow: 0 0 40px #ffe4c1;
    }
    75% {
        box-shadow: 0 0 30px #ffefda;
    }
    100% {
        box-shadow: 0 0 30px #ffffff;
        box-shadow: 0 0 35px #ffffff;
        box-shadow: 0 0 40px #ffffff;
    }
    
}
.inp{
    width: 10%;
    text-align: center;
}
.inp input {
    font-size: 1.5rem;
    width: 110px;
    height: 110px;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #724100;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;   
}








@media (max-width: 768px) {
    .glass {
        width: 13%;
        height: 13%;
    }
    span {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .glass {
        width: 13%;
        height: 13%;
    }
    span {
        font-size: 1.2rem;
    }
}

@media (max-width: 320px) {
    .glass {
        width: 10%;
        height: 10%;
    }
    span {
        font-size: 1rem;
    }
}

@media (max-width: 240px) {
    .glass {
        width: 10%;
        height: 10%;
    }
    span {
        font-size: 0.1rem;
    }
}

