body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
.container {
    background: url("img/cozy\ winter.webp");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-content: center;
}
.glassmorph {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    margin: 25px;
    width: 13%;
    height: 110%;
    /* From https://css.glass */
    background: #ffbf4640;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 1px solid #ffbf4680;
}
span{
    font-size: 5rem;
    color: #724100;
}
.buttons{
    text-align: center;
    padding: 17px;
    margin-top: 25px;
}

.btns{
    cursor: pointer;
    background-color: #724100;
    font-size: 1.5rem;
    color: #fff;
    width: 7.5rem;
    padding: 13px;
    border-radius: 15px;
    outline: none;
    animation: glow 3s linear infinite;
}
.buttons button{
    margin: 0 10px;
}
/* Responsive Design */
@media (max-width: 768px) {
    .glass {
        width: 30%;
        height: 80%;
    }
    span {
        font-size: 3rem;
    }
    .btns {
        font-size: 1rem;
        width: 6rem;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .glass {
        width: 20%;
        height: 80%;
        margin: 15px;
    }
    span {
        font-size: 1rem;
    }
    .btns {
        font-size: 0.5rem;
        width: 3.5rem;
        padding: 8px;
    }
}
.center {
    margin: 0 auto;
    text-align: center;
}
.hidden{
    display: none;
}
.visible{
    visibility: visible;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 30px #ffd59f;
        box-shadow: 0 0 35px #ffd59f;
        box-shadow: 0 0 40px #ffd59f;
    }
    10% {
        box-shadow: 0 0 30px #ffdcae;
    }
    50% {
        box-shadow: 0 0 30px #ffe4c1;
        box-shadow: 0 0 35px #ffe4c1;
        box-shadow: 0 0 40px #ffe4c1;
    }
    75% {
        box-shadow: 0 0 30px #ffefda;
    }
    100% {
        box-shadow: 0 0 30px #ffffff;
        box-shadow: 0 0 35px #ffffff;
        box-shadow: 0 0 40px #ffffff;
    }
}
.inp{
    width: 13%;
    text-align: center;
}
.inp input {
    font-size: 1.5rem;
    width: 130px;
    height: 110px;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #724100;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;   
}
